<div class="admin-sidebar">
  <div class="logo">
    <div class="logo-name">
      <i class="bx bxl-dribbble"></i>
      <span>My Library</span>
    </div>
    <i class="bx bx-menu" (click)="toggleSideBar()"></i>
  </div>
  <div class="navigation">
    <ul>
      <li>
        <a routerLink="dashboard"><i class="bx bx-grid-alt"></i><span>Dashboard</span></a>
        <span class="tooltips">Dashboard</span>
      </li>
      <li>
        <a routerLink="product"><i class="bx bxs-book-alt"></i><span>Book</span></a>
        <span class="tooltips">Book</span>
      </li>
      <li>
        <a routerLink="author"><i class="bx bx-user"></i><span>Authors</span></a>
        <span class="tooltips">Authors</span>
      </li>
      <li>
        <a href="#"><i class="bx bx-cog"></i><span>Options</span></a>
        <span class="tooltips">Options</span>
      </li>
      <li>
        <a href="#"> <i class="bx bx-log-out-circle"></i><span>logOut</span></a>
        <span class="tooltips">logOut</span>
      </li>
    </ul>
  </div>
</div>
