<div class="admin-sidebar">
  <div class="logo">
    <div class="logo-name">
      <i class="bx bxl-dribbble"></i>
      <span>My Library</span>
    </div>
    <i class="bx bx-menu" (click)="toggleSideBar()"></i>
  </div>
  <div class="navigation">
    <ul>
      <li>
        <a routerLink="/environment"
          ><i class="bx bx-grid-alt"></i><span>Environment</span></a
        >
        <span class="tooltips">Environment</span>
      </li>
      <li>
        <a routerLink="/product"
          ><i class="bx bxs-book-alt"></i><span>Product</span></a
        >
        <span class="tooltips">Product</span>
      </li>
      <li>
        <a href="#"><i class="bx bx-cog"></i><span>Options</span></a>
        <span class="tooltips">Options</span>
      </li>
      <li (click)="logOut()">
        <a href="#"> <i class="bx bx-log-out-circle"></i><span>logOut</span></a>
        <span class="tooltips">logOut</span>
      </li>
    </ul>
  </div>
</div>
