
.admin-sidebar{
    position: fixed;
    z-index: 100;
    min-height: 100vh;
    height: 100%;
    background: #0c163c;
    width: 70px;
    padding: 10px 0px;
    transition: .5s width ease-in-out;
}
.admin-sidebar.active{
    width: 240px;
}

.logo .logo-name{
    display: flex;
    margin: 15px 10px;
    height: 30px;
    opacity: 0;
   
}
.admin-sidebar.active .logo .logo-name{
    opacity: 1;
    transition: 1.5s all ease-in;

}
.logo .logo-name span{
    font-size: 18px;
    font-weight: bold;
    word-spacing: 5px;
    text-transform: uppercase;
}
.logo .logo-name i{
    font-size: 25px;
}
.logo .logo-name i, span,.bx-menu{
    color: #fff;
    line-height: 30px;
}

.logo .logo-name i{
    margin-right: 10px;
}
.admin-sidebar .logo .bx-menu{
    position: absolute;
    background: #733fa245;
    right: 14%;
    top:25px;
    border-radius: 10px;
    padding: 8px 12px;
    line-height: 30px;
    font-size: 24px;
    cursor: pointer;
}
.admin-sidebar.active .logo .bx-menu{
    right: 0;
    top:18px;
    background: none;
}

.admin-sidebar.active .bx-menu{
    right: 0;
}
.navigation{
    position: relative;
    margin-top: 25px;
}
.navigation ul{
    padding: 10px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    height: 50px;
    width: 100%;
    line-height: 50px; 
    margin:  15px 0px;
    padding: 0 15px;
    font-weight: 500;
}

.navigation ul li:last-of-type{
    position: relative;
    bottom: 0;
}
.navigation ul li:hover{
    border-radius: 15px;
    background: #fff;
}
.navigation ul li:hover a span{
    color: #0c163c;
}
.navigation ul li:hover i{
    color: #0c163c;
}
.navigation ul li i{
    margin: 15px 0px;
    color: #fff;
    top: 2px;
    font-size: 18px;
    position: relative;
}
.admin-sidebar .navigation ul li a{
    height: 100%;
    text-decoration: none;
    display: block;
    
}


.admin-sidebar ul li .tooltips{
    position: absolute;
    left: 135%;
    border-radius: 8px;
    color: black;
    background: #fff;
    padding: 5px 20px;
    z-index: 999;
    box-shadow: -1px 3px 7px 0px rgb(0 0 0 / 18%);
    opacity: 0;
    transition: .5s all ease;
    top:0px;
    pointer-events: none;
}
.admin-sidebar ul li:hover .tooltips{
    top: 8px;
    opacity: 1;
}
.admin-sidebar.active ul li .tooltips{
    opacity: 0;
}
.navigation ul li  a span{
    color: #fff;
    margin-left: 10px;
    opacity: 0;
}
.admin-sidebar.active .navigation ul li a span{
    opacity: 1;
    transition: 2s opacity ease-in-out;
}

