<div class="overlay" (click)="returnToListProducts()"></div>
<div class="product-info">
  <h4 class="name" *ngIf="idProduct != null; else headerproductNewForm">
    Edit Product
  </h4>
  <ng-template #headerproductNewForm>
    <h4 class="text-center">New product</h4>
  </ng-template>
  <form (ngSubmit)="onSubmit()" [formGroup]="productForm">
    <div class="form-groupe">
      <label for="name">name</label>
      <input type="text" class="my-input" id="name" formControlName="name" />
      <div
        *ngIf="
          productForm.get('name').invalid &&
          (productForm.get('name').dirty || productForm.get('name').touched)
        "
      >
        <span class="msg-error">please enter a valid name</span>
      </div>
    </div>
    <div class="form-groupe">
      <label for="author">Min Temperature</label>
      <input
        type="text"
        class="my-input"
        id="min-temperature"
        formControlName="minTemperature"
      />
      <div
        *ngIf="
          productForm.get('minTemperature').invalid &&
          (productForm.get('minTemperature').dirty ||
            productForm.get('minTemperature').touched)
        "
      >
        <span class="msg-error">please enter a valid Min Temperature</span>
      </div>
    </div>
    <div class="form-groupe">
      <label for="description">Max Temperature</label>
      <input
        type="text"
        class="my-input"
        id="max-temperature"
        formControlName="maxTemperature"
      />
      <small>words: {{ productForm.get("maxTemperature").value }}</small>
      <div
        *ngIf="
          productForm.get('maxTemperature').invalid &&
          (productForm.get('maxTemperature').dirty ||
            productForm.get('maxTemperature').touched)
        "
      >
        <span class="msg-error">max-temperature is required</span>
      </div>
    </div>
    <div class="form-groupe">
      <label for="min-humidity">Min Humidity</label>
      <input
        type="text"
        class="my-input"
        id="min-humidity"
        formControlName="minHumidity"
      />
      <div
        *ngIf="
          productForm.get('minHumidity').invalid &&
          (productForm.get('minHumidity').dirty ||
            productForm.get('minHumidity').touched)
        "
      >
        <span class="msg-error">please enter min-humidity</span>
      </div>
    </div>
    <div class="form-groupe">
      <label for="max-humidity">Max Humidity</label>
      <input
        type="text"
        class="my-input"
        id="max-humidity"
        formControlName="maxHumidity"
      />
      <div
        *ngIf="
          productForm.get('maxHumidity').invalid &&
          (productForm.get('maxHumidity').dirty ||
            productForm.get('maxHumidity').touched)
        "
      >
        <span class="msg-error">please enter max-humidity</span>
      </div>
    </div>

    <button
      class="my-btn product-btn"
      type="submit"
      *ngIf="idProduct != null; else newproductLabel"
      [disabled]="!productForm.valid"
    >
      edit
    </button>
    <ng-template #newproductLabel
      ><button
        class="my-btn product-btn"
        type="submit"
        [disabled]="!productForm.valid"
      >
        new
      </button></ng-template
    >
  </form>
</div>
