<div class="overlay" (click)="returnToListBooks()"></div>
<div class="book-info">
    <h4 class="title" *ngIf="idBook!=null;else headerBookNewForm">Edit Book</h4>
    <ng-template #headerBookNewForm>
        <h4 class="text-center">New Book</h4>
    </ng-template>
    <form  (ngSubmit)="onSubmit()">
        <div class="form-groupe">
            <label for="title">Title</label>
            <input type="text" class="my-input" id="title" formControlName="title" >
            <div *ngIf="bookForm.get('title').invalid && (bookForm.get('title').dirty || bookForm.get('title').touched)">
                <span class="msg-error">please enter a valid author name</span>  
              </div>
        </div>
        <div class="form-groupe">
            <label for="author">id Author</label>
            <input type="text" class="my-input"  id="author" formControlName="userId">
            <div *ngIf="bookForm.get('userId').invalid && (bookForm.get('userId').dirty || bookForm.get('userId').touched)">
              <span class="msg-error">please enter a valid author name</span>  
            </div>
        </div>
        <div class="form-groupe">
            <label for="description">Description</label>
            <input type="text" class="my-input"  id="description"  formControlName="description">
            <small>words: {{bookForm.get('description').value}}</small>
            <div *ngIf="bookForm.get('description').invalid && (bookForm.get('description').dirty || bookForm.get('description').touched) ">
                <span class="msg-error">description is required</span>  
            </div>
            
        </div>
        <div class="form-groupe">
            <label for="price">Price</label>
            <input type="text" class="my-input"  id="price"  formControlName="price">
            <div *ngIf="bookForm.get('price').invalid && (bookForm.get('price').dirty || bookForm.get('price').touched)">
                <span class="msg-error">please enter price</span>  
            </div>
            <small>Normal Price: {{bookForm.get('price').value}} | Price Pow(2): {{bookForm.get('price').value}} | Price Pow(3): {{bookForm.get('price').value}}</small>
        </div>
        
        <button class="my-btn book-btn" type="submit" *ngIf="idBook!=null;else newBookLabel" [disabled]="!bookForm.valid"> edit</button>
        <ng-template #newBookLabel><button class="my-btn book-btn" type="submit" [disabled]="!bookForm.valid">new</button></ng-template>

    </form>
</div>
