<div class="box shadow p-3">
  <a routerLink="1">
    <div class="d-flex justify-content-between">
      <h5 class="title-env mb-3">{{ environment.name }}</h5>
      <div class="data-env">
        <p>
          <i class="bx bx-cloud-light-rain"></i> {{ environment.minHumidity }} % 
          - {{ environment.maxHumidity }} %
        </p>
        <p>
          <i class="bx bxs-hot"></i> {{ environment.minTemperature }} C° - 
          {{ environment.maxTemperature }} C°
        </p>
      </div>
    </div>
    <div class="nodes" >
      <div *ngFor="let node of environment.nodes" class="node shadow d-inline-block px-2 mr-2">
        <span class="node-name">{{node.data[0].humidity}}</span>
        <h6 class="text-center">59 C°</h6>
      </div>
    </div>
  </a>
</div>
