<div class="box shadow p-3">
  <a routerLink="1">
    <h5 class="node-name mb-3">Env 1</h5>
    <div class="nodes">
      <div class="node shadow d-inline-block px-2 mr-2">
        <span class="node-name">Node 1</span>
        <h6 class="text-center">59 C°</h6>
      </div>
      <div class="node shadow d-inline-block px-2 mr-2">
        <span class="node-name">Node 2</span>
        <h6 class="text-center">59 C°</h6>
      </div>
      <div class="node shadow d-inline-block px-2 mr-2">
        <span class="node-name">Node 3</span>
        <h6 class="text-center danger">59 C°</h6>
      </div>
    </div>
  </a>
</div>
