<div class="card-author">
  <div class="author-img">
    <img src="assets/img/1.jpg" alt="image author" class="author-img" />
  </div>
  <div class="author-detail">
    <div class="author-info">
      <span><i class="bx bx-user mr-2"></i>{{author.username}}</span>
    </div>
    <div class="author-info">
      <span> <i class='bx bx-book mr-2'></i>5 Books</span>
    </div>
    <div class="author-info">
      <span><i class='bx bx-mail-send' ></i>{{author.email}}</span>
    </div>
  </div>
  <div class="author-profile">
      <a routerLink="zaki"><i class='bx bxs-user-detail'></i></a>
  </div>
</div>
