<div class="overlay"></div>
<div class="form-author">
    <form formGroup="authorForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="my-input" id="username" formControlName="username">
        </div>
        <div class="form-group">
            <label for="firstname">FirstName</label>
            <input type="text" class="my-input" id="firstname" formControlName="firstName"/>
        </div>
        <div class="form-group">
            <label for="lastname">LastName</label>
            <input type="text" class="my-input" id="lastname" formControlName="lastName" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="my-input" id="email" formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="text" class="my-input" id="password" formControlName="password">
        </div>
        <div class="form-group">
            <label for="confirme-password">Confirme Password</label>
            <input type="text" class="my-input" id="confirme-password" formControlName="confirmePassword">
        </div>
        <div class="form-group">
            <button class="my-btn">Add</button>
        </div>
    </form>
</div>
