<div class="adimn-book">
  <!-- [books] @input (books in child component) and "books" source from parent (books in parent component)-->
  <!-- (bookCreated) is a event created in child component by EventEmmiter<> used  to send data from child to parent  by bookCreated.emit() -->
  <!-- <app-form-book class="form-book"    [books]="books"  (bookCreated)=onBookAdded($event)></app-form-book> -->

  <!-- <app-form-book class="form-book" [codeBook]="codeBook"></app-form-book> -->
  <router-outlet></router-outlet>
</div>
