.admin-product table.product-table {
  background: #fbfbfb;
}
.product-list-header {
  display: flex;
  justify-content: space-between;
}

.adimn-product .product-list {
  background: #fff;
  width: 90%;
  margin: 60px auto;
}
.adimn-product .form-product {
  display: block;
}
.adimn-product .form-product.active {
  display: block;
}

button.my-btn.btn-edit,
button.my-btn.btn-delete {
  padding: 5px 10px 1px;
  font-size: 18px;
}
button.my-btn .bx-edit-alt {
  color: #32d1db;
}
button.my-btn .bx-trash {
  color: #ff2c2ca1;
}
button.my-btn.order {
  padding: 9px 17px;
  background: #ececec;
}
