
<router-outlet></router-outlet>
<div class="header">
    <h3>| Book List</h3>
  </div>
  <div class="book-list">
    <div class="book-list-header">
      <button class="my-btn add-book" [routerLink]="['new']">
        <i class="bx bx-plus"></i>New Book
      </button>
      <button (click)="changeOrder()" class="mb-2 my-btn order"><i class='bx bx-sort-alt-2'></i></button>
    </div>
    <table class="table table-bordered book-table">
      <thead>
        <tr>
          <th *ngFor="let header of headers">
            {{ header }}
          </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books ">
          <td *ngFor="let column of headers">
            {{ book[column] }}
          </td>
          <td>
            <button class="my-btn mr-2 btn-edit" [routerLink]="['edit', book['id']]">
              <i class="bx bx-edit-alt"></i></button
            ><button class="my-btn btn-delete mr-2" (click)="deleteBook(book['id'])">
              <i class="bx bx-trash"></i>
            </button>
            <button class="my-btn btn-delete" [routerLink]="[book['id']]">
              <i class='bx bx-detail'></i>
            </button>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>