<div class="admin-book-item">
    <h3>| Book</h3>
    <div class="back">
        <button [routerLink]="['/admin/book']" class="my-btn"><i class='bx bx-arrow-back' ></i> Back To List</button>
    </div>
    <div class="book-detail">
        <div class="row">
            <div class="col-md-6">
                <div class="book-img">
                    <img src="" alt="image book"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="book-info">
                    <span>Code :</span>
                   
                </div>    
            </div>
        </div>
        
        
    </div>
</div>