<p class="text-center">This page is Environment Detail 1</p>
<div class="env-detail-header row justify-content-center">
  <div class="col-md-3 mb-3">
    <div class="shadow box">
      <span>650 Produit</span>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="shadow box">
      <span>4 Node</span>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="shadow box"><span>28 C°</span> <span>55%</span></div>
  </div>
</div>
<div class="env-detail-body">
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="nodes-chart shadow">
        <canvas id="chart-temp"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="nodes-chart shadow mb-3">
        <canvas id="chart-humidity"></canvas>
      </div>
    </div>
  </div>
</div>
